
li{
    list-style-type: none;
}
.webstudio{
    /* веб студия лого */
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    
}
.webstudiospan{
    color: #212121;
    
}
.studio{
    /* студия */
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.contacts:hover,.portfolio:hover,.studio:hover, 
.mail:hover, .telefono:hover, .footer-adres:hover, .footer-mail:hover,
.footer-tel:hover{
    color: #2196F3;
}


.portfolio{
    /* портфолио */
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    
}
.contacts{
    /* контакти  */
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.mail{
    /* mail  */
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.telefono{
        /* +38 096 111 11 11 */
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.main{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
    
.main-text{
    /* Эффективные решения для вашего бизнеса */
    position: absolute;
    width: 696px;
    height: 200px;
    left: 452px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #167bce;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:active{
    background-color: #2196F3;
}
.btn{
    /* кнопка текс  */
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 360px;
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 4px;
    color: #FFFFFF; 
    letter-spacing: 0.06em;
}
.text-one{
    /* Внимание к деталям */
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text-one-one{
    /* Идейные соображения, а также начало повседневной работы по формированию позиции. */
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.text-two{
        /* Пунктуальность */
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text-two-two{
    /* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */
    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.text-three{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text-three-three{
        /* Равным образом консультация с широким активом в значительной степени обуславливает. */
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.text-four{
    /* Современные технологии */
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text-four-four{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.text-section{
    /* Чем мы занимаемся */
    position: absolute;
    width: 376px;
    height: 42px;
    left: 612px;
    top: 969px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #212121;
}
.img-one{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.img-two{   
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.img-three{    
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.back-section-two{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;
    /* background: red; */
}
.team-text{
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #212121;

}
.team-background-one
{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img-one{
    position: absolute;
    width: 270px;
    height: 260px;
    /* left: 215px; */
    /* top: 186px; */
    background: url(4853.jpg);
    border-radius: 0px;
}
.team-name-one{
    position: absolute;
    width: 151px;
    height: 19px;
    left: 60px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #212121;
    margin: 0%;
}
.team-position-one{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 70px;
    top: 319px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #757575;
    margin: 0%;
}
.team-background-two{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img-two{
    position: absolute;
    width: 270px;
    height: 260px;
    /* left: 515px; */
    /* top: 1635px; */
    background: url(5844.jpg);
    border-radius: 0px;
}
.team-name-two{
    position: absolute;
    width: 109px;
    height: 19px;
    left: 81px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0%;
}
.team-position-two{    
    position: absolute;
    width: 147px;
    height: 19px;
    left: 62px;
    top: 319px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #757575;
    margin: 0%;
}
.team-background-three{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img-three{
    position: absolute;
    width: 270px;
    height: 260px;
    /* left: 815px; */
    /* top: 1635px; */
    background: url(16166.jpg);
    border-radius: 0px;
}
.team-name-three{
    position: absolute;
    width: 137px;
    height: 19px;
    left: 67px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0%;
}
.team-position-three{
    position: absolute;
    width: 76px;
    height: 19px;
    left: 97px;
    top: 319px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0%;
}
.team-background-four{      
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img-four{
    position: absolute;
    width: 270px;
    height: 260px;
    /* left: 1115px; */
    /* top: 1635px; */
    background: url(2968.jpg);
    border-radius: 0px;
}
.team-name-four{
    position: absolute;
    width: 134px;
    height: 19px;
    left: 68px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0%;
}
.team-position-four{
    position: absolute;
    width: 87px;
    height: 19px;
    left: 92px;
    top: 319px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: #757575;
    margin: 0%;
}

.footer-web{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.footer-web-span{
    color: white;
    
}

.footer-back{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}
.footer-adres{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-mail{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-tel
{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* dddddddddddddddddddddddd */

.btn-oll{
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;   

}
.btn-oll:hover, .btn-web:hover, .btn-app:hover,
.btn-design:hover, .btn-marketing:hover{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-oll:active, .btn-web:active, .btn-app:active, 
.btn-design:active, .btn-marketing:active{
    background: #177aca; 
    color: #FFFFFF;
}
.btn-web{
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}
.btn-app{
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;

}
.btn-design{
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;

}
.btn-marketing{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}
.btt{
 /* одинаковые параметры кнопок  */
    border-color: #FFFFFF;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: 0px;
}

/* main */
.main-back-oll{     
    /* для всех бекграундов общий стиль */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.main-title-oll
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    position: absolute;
    left: 24px;
    top: 294px;
}
.mail-text-oll{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    position: absolute;
    left: 24px;
    top: 344px;
}
/* 1 */
.main-back-one{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}

/* 2 */
.main-back-two{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;

}
/* 3 */
.main-back-three{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;

}
/* 4 */

.main-back-four{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
}
/* 5 */
.main-back-five{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
}
/* 6 */
.main-back-six{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;

}
/* 7 */
.main-back-seven{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;

}
/* 8 */
.main-back-eight{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
}
/* 9 */
.main-back-nine{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
}
.footer-back-design{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
}